/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(./images/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    margin: 30px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 670px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin-left: 40px;
    padding: 20px 0px;
}
nav ul li:first-child{
    border-bottom: 2px solid white;
}
nav ul li:hover{
    border-bottom: 2px solid hsla(231, 76%, 90%, 0.534);
}
nav ul li a{
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    color: hsl(231, 77%, 90%);
    font-size: .9em;
    letter-spacing: 1px;
}
.nav-numbers{
    color: white;
    margin-right: 4px;
}
.logo{
    width: 35px;
    height: 35px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 80px auto;
}
.explore{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.explore:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
.explore-bg{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.explore-bg p{
    font-size: 1.6em;
    font-family: 'Bellefair', serif;
}
.text{
    width: 400px;
}
.text h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: 4.75px;
    color: hsl(231, 77%, 90%);
    font-weight: 500;
}
.text h1{
    font-size: 135px;
    font-family: 'Bellefair', serif;
    color: white;
    font-weight: 300;
    margin: 10px 0px;
}
.text p{
    color: hsl(231, 77%, 90%);
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1em;
    line-height: 25px;
}


@media only screen and (max-width:845px){
    body{
        background-image: url(./images/background-home-tablet.jpg);
        margin: 5px;
        background-size: cover;
        background-position: right;
        overflow-y: scroll;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
    }
    nav ul{
        width: 400px;
    }
    main{
        width: 87%;
        margin: 30px auto 0px;
        flex-direction: column;
    }
    .text{
        margin: 40px 0px 0px;
        width: 86%;
        text-align: center;
    }
    .text h2{
        font-size: 20px;
        letter-spacing: 3px;
    }
    .text h1{
        font-size: 115px;
    }
    .text p{
        font-size: 1.2em;
    }
    .explore{
        margin-top: 20px;
    }
}

@media only screen and (max-width:475px){
    body{
        background-image: url(./images/background-home-tablet.jpg);
        margin: 0px;
        background-size: cover;
        background-position: right;
        overflow-y: scroll;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }
    nav ul{
        width: 300px;
        height: 100vh;
        position: absolute;
        z-index: 2;
        top: 0px;
        right: -800px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        -webkit-backdrop-filter: blur(50px);
        -moz-backdrop-filter: blur(50px);
        -o-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        padding: 90px 0px 0px 40px;
        transition: all 1s ease;
    }
    .show{
        right: 0px;
    }
    nav ul li{
        display: block;
        margin-left: 0px;
        padding: 0px;
        padding-bottom: 5px;
        margin: 15px 0px;
    }
    nav ul li a{
        font-size: 1.4em;
        letter-spacing: 4px;
        font-weight: 100;
    }
    .menu-btn{
        z-index: 3;
    }
    main{
        width: 100%;
        margin: 30px auto 0px;
        flex-direction: column;
    }
    .text{
        margin: 40px 0px 0px;
        width: 90%;
        text-align: center;
    }
    .text h2{
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    .text h1{
        font-size: 70px;
        
    }
    .text p{
        font-size: 1.2em;
    }
    .explore{
        margin-top: 20px;
    }
}